<h2>Lista de Postagens:</h2>
<hr>
<a href="/admin/postagens/nova"><button type="button" class="btn btn-success mt-2">Nova Postagem</button></a>

{{#each posts}}
    <div class="card mt-3">
        <div class="card-body">
            <h4>{{title}}</h4>
            <small>Descrição: {{description}}</small>
            <br/>
            <small>Categoria: {{category.name}}</small>
            <br/>
            <small>Data de publicação: {{date}}</small>
            <p>Conteudo: {{content}}</p>
            <a href="/admin/postagens/editar/{{_id}}"><button class="btn btn-primary">Editar</button></a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal-{{_id}}-delete">Excluir</button>

            <div class="modal fade" id="exampleModal-{{_id}}-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel-{{_id}}-delete">Excluir</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja excluir a postagem "{{title}}"?
                        <form action="/admin/postagens/excluir" method="post" id="form-{{_id}}-delete">
                            <input type="hidden" name="id" value="{{_id}}" />
                            <input type="hidden" name="title" value="{{title}}" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger" form="form-{{_id}}-delete">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    </div>
{{else}}
    <h4>Não encontramos nenhuma postagem :(</h4>
{{/each}}